* {
    font-family: sans-serif;
    margin: 0;
}
/* styling for the whole page in dark mode */
.rootDark{
    background-color: black;
    color: white;
}
/* main container for form and blogposts */
main {
    background-image: url("../images/main.jpg");
    width: 100%;
    min-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
header {
    text-align: center;
    min-height: 60px;
    margin-top: 10px;
    border-bottom: 5px solid black;
}
footer {
    text-align: center;
    margin: 20px;
}
form {
    width: 500px;
    min-height: 400px;
    padding: 20px;
    background-color: white;
    margin: 7%;
}
/* light mode version of the form class */
.form-light {
    color: black;
}
.form-dark {
    background-color: black;
    color: white;
}
form input {
    display: block;
}
.description {
    width: 500px;
    background-color: black;
    min-height: 410px;
    padding: 20px;
    margin: 7%;
}
.description p {
    font-family: monospace;
    color: rgb(84, 84, 252);
}
.blog-post {
    width: 90%;
    margin: 0;
    border: black solid 5px;
    padding: 15px;
}
/* CSS CODE FROM https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    }

    /* The slider */
    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    }

    .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    }

    input:checked + .slider {
    background-color: #2196F3;
    }

    input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
    border-radius: 34px;
    }

    .slider.round:before {
    border-radius: 50%;
    }
/* end css code from w3 */
#light-dark-mode-section{
    position: absolute;
    right: 10px
}
#blog-post-label {
    display: block;
}
#blog-post-content-area {
    width: 100%;
    min-height: 200px;
}
@media (max-width: 900px){
    .description {
        width: 100%;
    }
    form {
        width: 100%;
    }
}